<a href="https://colab.research.google.com/github/edhillon7/Neural-Networks/blob/main/Credit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
from sklearn.preprocessing import MinMaxScaler

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!ls "/content/drive/My Drive/Colab Notebooks"

 credit_data.csv  'excel mgmt.py'   MLP1.ipynb	 SLP1.ipynb   Untitled0.ipynb   Untitled1.ipynb

In [ ]:
file_path = "/content/drive/My Drive/Colab Notebooks/credit_data.csv"

In [ ]:
df = pd.read_csv(file_path)
print(df.head())

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [ ]:
#basic way to inspect dataset
df.head(), df.tail(), df.info(), df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   i#clientid  2000 non-null   int64
 1   income      2000 non-null   float64
 2   age         1997 non-null   float64
 3   loan        2000 non-null   float64
 4   c#default   2000 non-null   int64
dtypes: float64(3), int64(2)
memory usage: 78.3 KB

(   i#clientid        income        age         loan  c#default
 0           1  66155.925095  59.017015  8106.532131          0
 1           2  34415.153966  48.117153  6564.745018          0
 2           3  57317.170063  63.108049  8020.953296          0
 3           4  42709.534201  45.751972  6103.642260          0
 4           5  66952.688845  18.584336  8770.099235          1,
       i#clientid        income        age         loan  c#default
 1995        1996  59221.044874  48.518179  1926.729397          0
 1996        1997  69516.127573  23.162104  3503.176156          0
 1997        1998  44311.449262  28.017167  5522.786693          1
 1998        1999  43756.056605  63.971796  1622.722598          0
 1999        2000  69436.579552  56.152617  7378.833599          0,
 None,
         i#clientid        income          age          loan    c#default
 count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
 mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
 std     577.494589  14326.327119    13.624469   3045.410024     0.348624
 min       1.000000  20014.489470   -52.423280      1.377630     0.000000
 25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
 50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
 75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
 max    2000.000000  69995.685578    63.971796  13766.051239     1.000000)

In [ ]:
cleaned_df = df.dropna()

In [ ]:
print(cleaned_df.head())

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [ ]:
cleaned_df.describe()

        i#clientid        income          age          loan    c#default
count  1997.000000   1997.000000  1997.000000   1997.000000  1997.000000
mean   1001.956935  45333.864334    40.807559   4445.487716     0.141713
std     576.702206  14325.131177    13.624469   3046.792457     0.348842
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     503.000000  32804.904487    28.990415   1936.813257     0.000000
50%    1002.000000  45788.747100    41.317159   3977.287432     0.000000
75%    1501.000000  57787.565659    52.587040   6440.861434     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [ ]:
input_df = cleaned_df[["income" ,"age" ,"loan" ]]
output_df = cleaned_df[["c#default"]]
print(input_df, output_df)

            income        age         loan
0     66155.925095  59.017015  8106.532131
1     34415.153966  48.117153  6564.745018
2     57317.170063  63.108049  8020.953296
3     42709.534201  45.751972  6103.642260
4     66952.688845  18.584336  8770.099235
...            ...        ...          ...
1995  59221.044874  48.518179  1926.729397
1996  69516.127573  23.162104  3503.176156
1997  44311.449262  28.017167  5522.786693
1998  43756.056605  63.971796  1622.722598
1999  69436.579552  56.152617  7378.833599

[1997 rows x 3 columns]       c#default
0             0
1             0
2             0
3             0
4             1
...         ...
1995          0
1996          0
1997          1
1998          0
1999          0

[1997 rows x 1 columns]

In [ ]:
inputs = input_df.to_numpy()
outputs = output_df.to_numpy()
np.set_printoptions(suppress=True)
scaler = MinMaxScaler()
inputs = scaler.fit_transform(inputs)
outputs = scaler.fit_transform(outputs)

In [ ]:
print(inputs.shape)
print(outputs.shape)

(1997, 3)
(1997, 1)

In [ ]:
def sigmoid (x):
  return 1/(1 + np.exp(-x));

#def (x):
 # return 1/(1 - sigmoid(x))

def sigmoid_derivative(x):
  return np.maximum(0, x)

weights0 = 0.1*np.random.random((3,2)) - 1
weights1 = 0.1*np.random.random((2,1)) - 1

print (weights0, weights1)

[[-0.98858686 -0.93504931]
 [-0.97918363 -0.91823877]
 [-0.99969926 -0.945224  ]] [[-0.91292536]
 [-0.97255607]]

In [ ]:
sum_synapse0 = np.array(sigmoid(np.dot(inputs, weights0)))
prediction = np.array(sigmoid(np.dot(sum_synapse0, weights1)))
error = abs(prediction - outputs)
average = np.mean(error)
error.shape

(1997, 1)

In [ ]:
outputs.shape

(1997, 1)

In [ ]:
inputs.shape
inputs

array([[0.9231759 , 0.95743135, 0.58883739],
       [0.28812165, 0.86378597, 0.47682695],
       [0.74633429, 0.99257918, 0.58262011],
       ...,
       [0.48612202, 0.69109837, 0.40112895],
       [0.47500998, 1.        , 0.1177903 ],
       [0.98881367, 0.93282208, 0.53597028]])

In [ ]:
#main code
epochs = 10000
learning_rate = 0.01
error = []

for epoch in range(epochs):
  sum_synapse0 = np.dot(inputs, weights0)
  hidden_layer = sigmoid(sum_synapse0)
  sum_synapse1 = np.dot(hidden_layer, weights1)
  prediction = sigmoid(sum_synapse1)
  error = abs(prediction - outputs)
  error_list = error.tolist()
  average = np.mean(error) if len(error >0) else 0

  if epoch %1000 == 0:
    print('Epoch: ' + str(epoch + 1) + ' Error: ' + str(average))
    error_list.append(average)



  #from output layertp hidden layer
  derivative_hidden_layer = sigmoid_derivative(prediction)
  delta_output_layer = error*derivative_hidden_layer

  #from hidden layer to input layer
  weights1t = weights1.T
  delta_hidden_layer = np.dot(delta_output_layer, weights1)


  # weigth optimisation

  #hidden layer to output layer
  sum_synapse0t = sum_synapse0.T
  inputXdelta1 = np.dot(sum_synapse0t, delta_output_layer)
  weights1 = weights1 + (inputXdelta1*learning_rate)

  #input layer to hidden layer
  inputs_ttansverse = inputs.T
  inputXdelta0 = np.dot(inputs_ttansverse, delta_hidden_layer)
  weights0 = weights0 + (inputXdelta0*learning_rate)

Epoch: 1 Error: 0.50000000004569
Epoch: 1001 Error: 0.14171256885327993
Epoch: 2001 Error: 0.14171256885327993
Epoch: 3001 Error: 0.14171256885327993
Epoch: 4001 Error: 0.14171256885327993
Epoch: 5001 Error: 0.14171256885327993
Epoch: 6001 Error: 0.14171256885327993
Epoch: 7001 Error: 0.14171256885327993
Epoch: 8001 Error: 0.14171256885327993
Epoch: 9001 Error: 0.14171256885327993

In [ ]:
prediction.shape

(1997, 2)

3995